* {
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/*section-header-start*/
.section-header {
    background: #FFFFFF;
    box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
    position: relative;
}

header .font-text-nav-menu .style-link-nav-hed {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #011F3A;
}

header .font-text-nav-menu .style-link-nav-hed {
    padding: 10px 10px;
    margin: 0 10px;
}

header .font-text-nav-menu .style-link-nav-hed:hover,
header .font-text-nav-menu .style-link-nav-hed:focus {
    text-decoration: none;
}

header .ico-star-head {
    margin-right: -10px;
}

.section-header .pos-nav-bar-c {
    margin-left: 246px;
}

.section-header .pos-r-menu-mar {
    margin-right: 295px;
}
6
.section-header .ico-Vector-head-r::after {
    content: "";
    background-image: url("../img/hed-icon/Vector.png");
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    margin-left: 10px;
    background-repeat: no-repeat;
}

/*section-header-end*/

/*section-orange-start*/
.section-orange {
    background: #F2AE4D;
    padding-top: 90px;
    padding-bottom: 90px;
}

.pd-text-orange {
    padding-top: 60px;
}

.style-text-h1 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #011F3A;
}

.style-text-h1 {
    margin-bottom: 25px;
}

.style-text-p p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #011F3A;
}

.style-text-p {
    padding-right: 220px;
    margin-bottom: 14px;
}

.bt-button-options {
    max-width: 230px;
    width: 100%;
    border: none;
    border-radius: 44px;
    background: #3D5675;
    padding: 19px 0;
}

.title-bt {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pos-img-r-block-orange {
    margin-right: -120px;
}

/*section-orange-end*/

/*section-partners-start*/
.section-partners-pos {
    width: 100%;
    padding: 20px 0;
    margin: 0 -15px;
}

.section-partners-text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.6px;
    color: #A1A1A1;
    margin: 0;
}

.pos-m-r-text img {
    margin-right: 16px;
}

.size-mxw-38 {
    max-width: 81px;
}

.size-mxw-38 {
    max-width: 67px;
}

.size-mxw-38 {
    max-width: 60px;
}

/*section-partners-end*/

/*main-comment-start*/

.main-comment {
    background: #EEEEEE;
    width: 100%;
}

/*main-comment-end*/

/*section-products-cust-start*/
.section-products-cust .title-products-cust {
    padding: 57px 0 58px 0;
    margin: 0 -15px;
}

.section-products-cust .title-products-cust > h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #011F3A;
}

.section-products-cust .butt-products-cust {
    width: 248px;
    height: 44px;
    padding: 13px 25px;
    border-radius: 44px;
    background: #3D5675;
    border: hidden;
}

.section-products-cust .title-butt-p-cust {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-products-cust .products-cust-link-butt > p a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #A1A1A1;
}

.section-products-cust .products-cust-link-butt > p a:hover {
    text-decoration: none;
}

.section-products-cust .products-cust-link-butt > p {
    margin-bottom: 0;
}

.section-products-cust .products-cust-butt-white {
    width: 158px;
    height: 44px;
    padding: 13px 25px;
    background: #FFFFFF;
    border-radius: 44px;
    border: hidden;
    margin-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
}

.section-products-cust .products-cust-l-b-w {
    padding-top: 45px;
    padding-bottom: 120px;
}

.section-products-cust .products-cust-white-box {
    max-width: 378px;
    margin: 1px;
    padding: 0 25px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
}

.section-products-cust .pro-cus-w-box-mr {
    margin: 0 -15px;
}

.section-products-cust .description-product-cust > h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.36px;
    color: #011F3A;
}

.section-products-cust .description-product-cust > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #777777;
}

.section-products-cust .description-product-cust {
    max-width: 214px;
}

.section-products-cust .price-product-cust p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #A1A1A1;
}

.section-products-cust .price-product-cust {
    padding-top: 29px;
}

/*section-products-cust-end*/

/*section-fast-ease-start*/

.section-fast-ease .bg-color {
    width: 100%;
    background: #72BDA3;
    padding: 80px 0;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
    z-index: 1;
    position: relative;
}

.title-sec-fe h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 41px;
    color: #011F3A;
}

.title-sec-fe-h4 h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #011F3A;
}

.text-font-fe p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #3D5675;
}

.tex-wi-197 {
    max-width: 197px;
}

.tex-wi-152 {
    max-width: 152px;
}

.tex-wi-196 {
    max-width: 196px;
}

.link-a {
    display: block;
}

.link-a:hover {
    text-decoration: none;
}

.fast-ease-but-options {
    background: #3D5675;
    width: 220px;
    height: 44px;
    border: hidden;
    padding: 13px 25px;
    border-radius: 44px;
}

.title-but-fe {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #FFFFFF
}

.mar-bot-45 {
    margin-bottom: 45px;
}

.mar-bot-70 {
    margin-bottom: 70px;
}

/*section-fast-ease-end*/

/*section-the-arka-start*/
.section-the-arka {
    margin-top: 70px;
    margin-bottom: 60px;
}

.pd-section-the-arka {
    padding-top: 88px;
    padding-bottom: 140px;
}

.title-the-arka > h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #011F3A;
}

.section-the-arka .title-the-arka {
    margin-bottom: 72px;
    padding-left: 40px;
}

.title-the-arka-h4 > h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.36px;
    color: #011F3A;
}

.text-font-the-arka > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #A1A1A1;
}

.section-the-arka .pd-left-text {
    padding-left: 40px;
}

.tex-wi-246 {
    width: 246px;
}

.tex-wi-234 {
    width: 234px;
}

.tex-wi-251 {
    width: 251px;
}

.link-the-arka-a:hover {
    text-decoration: none;
}

/*section-the-arka-end*/

/*yellow-section-start*/
.opt-yellow-section {
    background: #FFCA3A;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
    z-index: 1;
    padding-top: 110px;
    padding-bottom: 90px;
    position: relative;
}

.title-font-yell-h3 h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #011F3A;
}

.title-font-yell-h3 {
    padding-top: 24px;
}

.text-font-yell p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #3D5675;
}

.tex-wi-310 {
    max-width: 310px;
}

.tex-wi-356 {
    max-width: 356px;
}

.butt-opt-yell {
    width: 205px;
    height: 44px;
    padding: 13px 25px;
    border-radius: 44px;
    background: #FFFFFF;
    border: hidden;
}

.butt-title-yell {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
}

.line-br-yell {
    border-right: 1px solid rgba(161, 161, 161, 0.4);
}

.line-bl-yell {
    border-right: 1px solid rgba(161, 161, 161, 0.4);
}

/*yellow-section-end*/

/*section-merch-love-ark-start*/

.section-merch-love-ark .merch-love-ark-pd-tb {
    padding-top: 150px;
    padding-bottom: 55px;
}

.section-merch-love-ark .title-merch-love-ark h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #011F3A;
}

.section-merch-love-ark .title-merch-love-ark {
    margin-bottom: 60px;
}

.section-merch-love-ark .boxs-merch-love-ark {
    margin: 0 -15px;
}

.section-merch-love-ark .box-merch-love-ark-white {
    max-width: 570px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
}

.box-merch-love-ark-white .box-logo-love-ark {
    padding: 75px 0 100px;
}

.section-merch-love-ark .describe-merch-love-ark h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #011F3A;
}

.section-merch-love-ark .describe-person-merch-love-ark h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #011F3A;
}

.section-merch-love-ark .describe-person-merch-love-ark p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #A1A1A1;
}

.section-merch-love-ark .describe-button-merch-love-ark {
    max-width: 160px;
    max-height: 44px;
    padding: 13px 25px;
    border: hidden;
    border-radius: 44px;
    background: #F2F2F2;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
}

.section-merch-love-ark .describe-person-merch-love-ark {
    margin: 0 20px;
}

.section-merch-love-ark .describe-merch-love-ark {
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-merch-love-ark .pos-pd-im-ove-ark {
    padding: 25px 0;
}

/*section-merch-love-ark-end*/

/*section-Let-get-to-it-start*/
.st-title-let-get h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    color: #011F3A
}

.but-options-Let-get {
    width: 240px;
    height: 45px;
    padding: 13px 25px;
    border-radius: 44px;
    border: hidden;
}

.title-but-Let-get {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
}

.bg-dark-but-mr {
    background: #3D5675;
    color: #FFFFFF;
    margin-right: 5px;
}

.bg-white-but-mr {
    background: #FFFFFF;
    color: #3D5675;
    margin-left: 5px;
}

.pd-pos-Let-get {
    padding-top: 120px;
    padding-bottom: 135px;
}

.mr-bt-title {
    margin-bottom: 55px;
}

/*section-Let-get-to-it-end*/

/*section-footer-start*/
.section-footer {
    background: #F2F3F4;
    padding-top: 60px;
    padding-bottom: 75px;
}

.style-link-footer a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3D5675;
}

.style-link-footer a {
    padding: 5px 0;
}

.style-link-footer a:hover {
    text-decoration: none;
}

.soc-icon-footer a:hover {
    text-decoration: none;
}

.style-link-footer li {
    margin: 8px 0;
}

.soc-icon-footer .mar-l-r {
    margin: 0 10px;
}

.title-sent-em-foot p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3D5675;
}

.footer-sent-email .butt-foot {
    width: 185px;
    height: 44px;
    padding: 11px 30px;
    border-radius: 44px;
    margin: 14px 0;
    background: #3D5675;
}

.footer-sent-email .title-foot-bt {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.style-imp-email {
    width: 280px;
    height: 36px;
    padding: 9px 0 9px 18px;
    border: hidden;
    border-radius: 34px;
    outline: none;
}

.style-imp-title {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    color: rgba(61, 86, 117, 0.4);
}

.style-link-footer > li {
    margin-top: 0;
}

/*section-footer-end*/





























































































